<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css.css">
    <title>CALC</title>
  </head>
  <body>
      {{>menu}}
    <form action="rezultatai" method="POST">
      <input type="text" name="num1" /><br /><input
        type="text"
        name="num2"
      /><br /><button type="submit">SEND</button>
    </form>
    <img src="user.png" alt="">
  </body>
</html>
