<!DOCTYPE html>
<html lang="en">
{{>head}}
<body id="page-top">
    {{>nav}}
    <section class="page-section">
        <div class="container pt-5">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Paslaugu kainos</h2>
        </div>
        <div class="divider-cusstom">
            <div class="divider-custom-line"></div>
             <div class="divider-custom-line"> <i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
        </div>
<div class="row justify-content-center pt-xxl-5">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Paslauga</th>
                    <th>Kaina</th>
                </tr>
            </thead>
            <tbody>
                {{#each menu}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                </tr>
                {{~/each}}

            </tbody>
        </table>
    </div>
</div>
    </section>
    {{>footer}}
</body>
</html>